.organize input {
    background: #f5f5f5;
    font-size: 1rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    font-size: 1rem;
}

::placeholder { color: black; }


label {
   
    	font-family: $header-font,sans-serif;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 0.15em;
		padding: 10px;
    }