.organize input, .organize textarea, .organize select {
    background: #f5f5f5;
    font-size: 1rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    // margin-bottom: 10px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    font-size: 1rem;
}



label {
        letter-spacing: 0.05em;
    // font-weight: 700;
    // text-transform: uppercase;
    line-height: 1.2;
    font-size: 1rem;
	
    }

@media screen and (min-width: $medium) {
    label {
        letter-spacing: 0.07em;
    // font-weight: 700;
    // text-transform: uppercase;
    line-height: 1.2;
    font-size: 1.25rem;
    
    }
}
