@import "../bourbon/bourbon";
@import "reset";
@import "responsive-nav";

// color

$primary-color: #dbf235;
$primary-color2: rgba(232, 244, 9, .4);
$secondary-color: #51dad0;
$secondary-color2: rgba(81, 218, 208, .5);
$link-color: #51dad0;
$date-color:#ed6976;

$header-color: #51dad0;

// media query

$global:400px;
$medium:800px;
$large:960px;

// grids
$col: 61.667px;
$gut: 20px;

@mixin grid($cnum) {
  width: ($col*$cnum)+($gut*(($cnum)-1));
  // background: #ff5555;
  height: 100px;
  float: left;
  margin-right: $gut;
  margin-bottom: 5px;
  text-align: center;
  padding: 40px;
  box-sizing:border-box;
  // color: #eeeeee;
}


.container {
  width: $large;
  background: transparent;
  overflow: hidden;
}

.col1, .col2, .col3, .col4, .col5, .col6 { 
    width:100%;
    height: 100px;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 500px) {

.col4 {
  @include grid(4);
}

.col6 {
  @include grid(6);
}

div:last-of-type {
  margin-right: 0;
}

}

// end grids


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: "proxima-nova-soft",sans-serif;
	line-height: 1.5;
	background: $primary-color url(blossoms.jpg) no-repeat bottom right; 
	font-size: 1rem;
	}

.border {
	border: 10px $primary-color solid;
}

.wrapper { 
	width:80%;
	margin: 0 auto;
}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6 {
	font-family: "proxima-nova-alt-condensed",sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	
	a {
		text-decoration: none;
		color: black;
	}

}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 3rem;
	padding-top: 4rem;
	// clear:both;
}

h2 {
	font-size: 2rem;
	padding:1rem 0;
}

.nav-toggle {
	float:left;
	background: white;
	color: black;
	padding:15px;
	font-weight: 700;
	font-size: 1.2rem;
	&:hover {
		background: $primary-color;
	}
}

.click li {
	float:right;
	background: white;
	padding:15px;
	font-weight: 700;
	font-size: 1.2rem;
	a {
		color: black;
	}
	&:nth-of-type(1) {
	background: black;
	a {
		color:white;
	}
	 }
}

.main {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/gulls.JPG") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;

}

.anniversary {
	margin-top: 4rem;
	width:110px;
	height: 110px;
	background: $secondary-color;
	text-align: center;
	font-family: "proxima-nova-alt-condensed";
	font-size: 1.3rem;
	line-height: 1;
	padding-top: 10px;
	float: left;
	// font-weight: 700;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	span {
		font-size:3rem;
	
	}
}

.issue {
	background: linear-gradient($secondary-color2, $secondary-color2);
	p {
		font-size: 1.2rem;
		font-weight: 700;
	}
}

// * {
// 	border: 1px solid red;
// }
