@import "reset";
@import "responsive-nav";
@import "../bourbon/bourbon";


// color

$primary-color: #dbf235;
$primary-color2: rgba(232, 244, 9, .7);

$secondary-color: #51dad0;
$secondary-color2: rgba(81, 218, 208, .9);
$secondary-color3: rgba(81, 218, 208, .7);
$link-color: #51dad0;
$date-color:#fd4857;
$date-color2:rgba(253, 72, 87, .5);;
$description-color: rgba(255, 255, 255, .8);
$logo:rgba(252, 170, 92, .8);

$header-color: #51dad0;

$body-font: "proxima-nova-soft";
$header-font: "proxima-nova-extra-condensed";
// media query

$global:502px;
$medium:712px;
$large:960px;



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	font-family: "proxima-nova-soft",sans-serif;
	line-height: 1.6;
	background: $primary-color ; 
	// font-size: 1.1rem;
	}

p {
	font-size: 1.4rem;
}
// grids
$col: 5.58%;
$gut: 3%;

@mixin grid($cnum) {
  width: ($col*$cnum)+($gut*(($cnum)-1));
  // background: #ff5555;
  // height: 100px;
  float: left;
  margin-right: $gut;
  // margin-bottom: 3rem;
  // text-align: center;
  // padding: 40px;
  box-sizing:border-box;
  // color: #eeeeee;
   

}


.col1, .col2, .col3, .col4, .col5, .col6 { 
    width:100%;
    height: 50px;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
    border: 10px white solid;
    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;
}
}

// @media screen and (min-width: $global) {
// 	.col1, .col2, .col3, .col4, .col5, .col6 { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col3a { 
    width:100%;
    height: 100px;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;
}
}

// @media screen and (min-width: $global) {
// 	.col3a { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}

// }
// }
.col2a { 
    width:100%;
    // height: 100px;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    // padding: 20px;
    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;
}
}
// @media screen and (min-width: $global) {
// 	.col2a { 
//    width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }
.col6p, .col4a, .col4ab, .col6a, .col4ac {
	width:100%;
    background: transparent;
    margin-bottom: 5px;
    // text-align: center;
    padding: 20px;
    // overflow: hidden;;

    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;

}
 
}
.col4ac {
border: 10px white solid;
min-height: 300px;
margin-top: 2rem;
text-align: center;}

.col6p1 {
	width:100%;
    background: transparent;
   
    padding: 20px;
    height: 600px;
    // overflow: hidden;;
    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;

}
 
}

.col6p2 {
	width:100%;
    background: transparent;
    margin-bottom: 5px;
    // text-align: center;
    padding: 20px;
    // overflow: hidden;;
    // margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;

}
 
}

// @media screen and (min-width: $global) {
// 	.col6p, .col4a, .col4ab, .col6a  { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col6f {
	width:100%;
    background: transparent;
    margin-bottom: 0;
    // text-align: center;
    padding: 20px;
    // overflow: hidden;;
    margin-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;
}
 
}

// @media screen and (min-width: $global) {
// 	.col6f  { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }
.col4f {
	width:100%;
    background: transparent;
    margin-bottom: 0;
    height: 40px;
    clear: both;
    padding-top: 1rem;
    // margin-bottom: 0.5rem;
    // text-align: center;
    // overflow: hidden;;
    &:last-of-type {
  	margin-right: 0;
}
 
}

.col8f {
	width:100%;
    background: transparent;
    height: 40px;
    margin-bottom: 1.5rem;
    // text-align: center;
    // overflow: hidden;;
    &:last-of-type {
  	margin-right: 0;
}
 
}

// @media screen and (min-width: $global) {
// 	.col4f, .col8f  { 
//   width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col6e { 
    width:100%;
    
    background: transparent;
    margin-bottom: 5px;
    margin-bottom: 2rem;
    text-align: center;
    padding: 20px;
    h5 {
    	line-height: 1.6;
    }

    &:last-of-type {
  	margin-right: 0;
}
}

// @media screen and (min-width: $global) {
// 	.col6e  { 
//    width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col6ab { 
    width:100%;
    background: transparent;
    
    &:last-of-type {
  	margin-right: 0;
  	margin-bottom: 3rem;
}
}

// @media screen and (min-width: $global) {
// 	.col6ab  { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col8a {
	width:100%;
    background: transparent;
    margin-bottom: 5px;
    margin-bottom: 3rem;
    // text-align: center;
    // padding: 20px;
    // overflow: hidden;;
    &:last-of-type {
  	margin-right: 0;
}
}

// @media screen and (min-width: $global) {
// 	.col8a  { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }

.col2p { 
    width:100%;
    height: 200px;
    background: transparent;
    margin-bottom: 5px;
    margin-bottom: 3rem;
    text-align: center;
    padding: 20px;
    &:last-of-type {
  	margin-right: 0;
}
}

.col12 { 
    width:100%;
    
    background: transparent;
    text-align: center;
    padding-bottom: 3rem;
    &:last-of-type {
  	margin-right: 0;
}
}

// @media screen and (min-width: $global) {
// 	.col2p   { 
//     width:45%;
//     float: left;
//     margin-right: 10%;
//    &:nth-of-type(2){
//   	margin-right: 0;}
//   	   &:nth-of-type(3){
//   	margin-right: 10%;}


// }
// }
@media screen and (min-width: $medium) {

.col2 {
  @include grid(2);
}
.col2a {
  @include grid(2);
}
.col4f {
  @include grid(4);
  height: 40px;
  margin-bottom: 1.5rem;
}

.col2p {
  @include grid(2);
}

.col3 {
  @include grid(3);
}
.col3a {
  @include grid(3);
}


.col4 {
  @include grid(4);
}

.col4a {
  @include grid(4);
}

.col4ab {
  @include grid(4);
}
.col4ac {
  @include grid(4);
}
.col8a {
  @include grid(8);
}

.col6 {
  @include grid(6);
}
.col6p2

 {
  @include grid(6);
}
.col6e {
  @include grid(6);
  margin-bottom: 1rem;
}

.col6f  {
  @include grid(6);
  margin-bottom: 0;
}
.col6p  {
  @include grid(6);
}
.col6p1  {
  @include grid(6);
}

.col6a  {
  @include grid(6);
}

.col6ab  {
  @include grid(6);
}

.col12  {
  @include grid(12);
 padding-bottom: 0;
}
.col8f  {
  @include grid(8);
  height: 40px;
  margin-bottom: 1.5rem;
}
}

// end grids




.wrapper { 
	width:90%;
	margin:0 auto;
	padding: 2rem 0;
	clear: both;
	overflow: hidden;
	p {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: $global) {
	.wrapper { 
	width:90%;
	margin:0 auto;
	padding: 3rem 0;
	p {
		font-size: 1.3rem;
	}
	}
}

@media screen and (min-width: $medium) {
	.wrapper {
	width:80%;
	margin:0 auto;
	max-width: 750px;
	padding: 4rem 0;
}
}

.wrapper1 { 
	width:90%;
	margin:0 auto;
	max-width: 750px;
	padding: 6rem 0;
	h3 {
		text-align: center;
		font-size: 1.25rem;
		line-height: 1.6;
		padding-top: 1rem;
	}
}

@media screen and (min-width: $global) {
.wrapper1 { 
	width:90%;
	max-width: 750px;
	padding: 7rem 0;
h3 {
		text-align: center;
		font-size: 1.50rem;
	}
}

}

@media screen and (min-width: $medium) {
	.wrapper1 { 
	width:80%;
	margin:0 auto;
	max-width: 750px;
	padding: 7rem 0;
	h3 {
		text-align: center;
		font-size: 1.75rem;
	}
}
}

.wrapper2 { 
	width:90%;
	margin:0 auto;
	max-width: 750px;
	padding: 3rem 0;}

@media screen and (min-width: $medium) {
.wrapper2 { 
	width:80%;
	margin:0 auto;

	padding: 4rem 0;
	// clear: both;
}}

.wrapper_p { 
	width:80%;
	margin:0 auto;
	max-width: 750px;
	padding: 4rem 0;
	// clear: both;
	overflow: hidden;
	p {
		font-size: 1.1rem;
	}
}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font,sans-serif;
	font-weight: 700;
	// text-transform: uppercase;
	line-height: 1.2;
	a {
		text-decoration: none;
		color: black;
	}

}



h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1 {
	text-align: center;
	// font-style: italic;
	font-size: 2.5rem;
	padding: 4rem 0 2rem 0;
	letter-spacing: 0.1em;
	// clear:both;
	span {
		color:white;
	}
}

@media screen and (min-width: $global) {
	h1 {
	font-size: 3rem;
	padding: 8rem 0 4rem 0;
	
}}

@media screen and (min-width: $medium) {
	h1 {
	font-size: 4rem;
	padding: 8rem 0 4rem 0;
}
}

h2 {
	font-size: 1.75rem;
	padding-bottom:1rem;
	text-transform: uppercase;
	clear: both;
	letter-spacing: 0.1em;
}

@media screen and (min-width: $global) {
	h2 {
	font-size: 2rem;
}}

@media screen and (min-width: $medium) {
	h2 {
	font-size: 2.5rem;
}}


h3 {
	font-size: 1.5rem;

}

@media screen and (min-width: $global) {
	h3 {
	font-size: 1.75rem;
}}

@media screen and (min-width: $medium) {
	h3 {
	font-size: 2rem;
}}

h3 {
	// text-transform: uppercase;
	letter-spacing: 0.04em;
}

h4 {
	letter-spacing: 0.04em;
}




.nav-toggle {
	float:left;
	background: white;
	font-family: $header-font;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	color: black;
	padding:12px;
	font-weight: 700;
	
	line-height: 46px;
	// font-size: 1.2rem;
	&:hover {
		background: $primary-color;
		-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease; 
	}
	
}

.nav-collapse {
	li {
		padding: 10px 20px;
		width: 100%;
		text-align: left;
		a {
		color: black;
		font-weight: 700;
		font-family: $header-font;
		text-align: center;
		text-transform: uppercase;
	letter-spacing: 0.10em;
	font-size: 1.1rem;

	}
	}
	
}

@media screen and (min-width: 625px) {
.nav-collapse {
	li {
		padding: 25.8px 0;
		width:18%;
		display: inline-block;
		text-align: center;
	// 	a {
	// 	color: black;
	// 	font-weight: 700;
	// 	font-family: $header-font;
	// 	text-align: center;
	// 		text-transform: uppercase;
	// letter-spacing: 0.10em;

	// }
	}
	
}
}


.click li {

	float:right;
	background: white;
	padding:15px;
	font-weight: 700;
	// font-size: 1.2rem;
	a {
		color: black;
	}
	&:nth-of-type(1) {
	background: black;
	a {
		color:white;
	}
	 }
}

.involved li {
	float:right;
	background: white;
	padding:15px;
	font-weight: 700;
	// font-size: 1.2rem;
	a {
		color: black;
	}
}

.main {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/gulls1.jpg") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
	// padding-bottom: 2rem;
}

.main_event  {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/start2.jpg") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
	// padding-bottom: 2rem;
}

.hmm  {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/find.jpg") no-repeat top center;
	background-size:cover;
	// background-attachment: fixed;
	padding-bottom: 4rem;
}

.main2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/biking.jpg") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
	// padding-bottom: 2rem;
}

.main_program {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/mainprogram.jpg") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
}

.main_organize {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/organize.jpg") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
}

.main_about {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/earthypic.jpg") no-repeat center center;
	background-size:cover;
	
	// background-attachment: fixed;
	p {
		font-size:1.1rem;
		padding-bottom: 2rem;}
	span {
		font-size: 1.5rem;}
	// 	font-style: oblique;
	// }
}

@media screen and (min-width: $medium) {
	.main_about {
		p {
		font-size:1.3rem;
	}
}}

.anniversary {
	// margin-top: 150px;
	width:120px;
	height: 120px;
	background: $secondary-color;
	text-align: center;
	font-family: $header-font;
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1;
	padding-top: 10px;
	letter-spacing: 0.10em;
	margin: 0 auto;
	clear: both;
	padding: 1.5rem;
	
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);

}
@media screen and (min-width: $global) {
	.anniversary {
	margin-top: -400px;
	width:150px;
	height: 150px;
	background: $secondary-color;
	text-align: center;
	font-family: $header-font;
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1;
	padding-top: 10px;
	letter-spacing: 0.10em;
	float: left;
	clear: both;
	padding: 1.5rem;
	
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);

}}


@media screen and (min-width: 567px) {
	.anniversary {
	margin-top: -325px;}}

@media screen and (min-width: $medium) {
	.anniversary {
	margin-top: -500px;

}}

@media screen and (min-width: 812px) {
	.anniversary {
	margin-top: -370px;

}}


.anniversary1 {
	
	font-size:2.5rem;

	font-weight: 500;
}

@media screen and (min-width: $global) {
.anniversary1 {
	
	font-size:3.5rem;

	font-weight: 500;
}}

.anniversary2 {


	font-weight: 700;
}

.issue {
	background: linear-gradient($primary-color2, $primary-color2);
	// padding: 4rem 0;

	p {
		// font-size: 1.1rem;
		letter-spacing: 0.05em;
	}
}

.main_program1  {
	background: linear-gradient($primary-color2, $primary-color2);
	padding-bottom: 2rem;
	overflow: hidden;
	p {
		font-size: 1.1rem;
		// font-weight: 700;
		letter-spacing: 0.05em;
	}
}

@media screen and (min-width: $medium) {
	.main_program1  {
	
	p {
		font-size: 1.3rem;
		
	}
}
}

.what {
	background: linear-gradient($primary-color2, $primary-color2);
	overflow: hidden;
	// padding-bottom: 2rem;
	p {
		// float: left;
		letter-spacing: 0.05em;
		font-weight: 500;
	}
	.col4a {
		min-height: 400px;
		background: url("../image/what.jpg") no-repeat center center;
	background-size:cover;


	}
}

.col4ab  {
		min-height: 400px;
		background: url("../image/why.jpg") no-repeat center center;
	background-size:cover;


	}

	.col6a  {
		min-height: 400px;
		background: url("../image/smile.jpg") no-repeat center center;
	background-size:cover;
	span {
		font-family: $header-font;
		font-weight: 700;
	}


	}

.border {
	border: 10px $primary-color solid;
}



// .button {
// 	background: white;
// 	padding:15px;
// 	font-weight: 700;
// 	float: right;
// 	text-align: center;

// }

.top {
	background: $primary-color;
	padding:15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right:10px;
}

.program {
	background: $secondary-color2;
	overflow: hidden;
	clear: both;
	padding-bottom: 4rem;
}

.photogallery {
	background: $secondary-color2;
	overflow: hidden;
	clear: both;
	// padding-bottom: 4rem;
}

.date {
	background: $date-color;
	color: white;
	width:70px;
	height: 70px;
	font-size:1.2rem;
	font-family: $header-font;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	text-align: center;
	line-height: 1.2;
	padding-top: 15px;
	padding-left: 3px;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	margin-right: -40px;
	margin-top: -70px;
}

.date1 {
	background: $date-color;
	color: white;
	width:70px;
	height: 70px;
	font-size:1.2rem;
	font-family: $header-font;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	text-align: center;
	line-height: 1.2;
	padding-top: 22px;
	padding-left: 3px;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	margin-right: -30px;
	margin-top: -70px;
}

.date2 {
	background: $primary-color;
	color: #222;
	width:70px;
	height: 70px;
	font-size:1.2rem;
	font-weight: 700;
	font-family: $header-font;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	padding: 20px 5px 5px 5px;
	text-align: center;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	margin-left: 0px;
	margin-top: 150px;

}


.date3 {
	background: $secondary-color;
	color: #222;
	width:70px;
	height: 70px;
	font-size:1.2rem;
	font-weight: 700;
	font-family: $header-font;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	padding: 20px 5px 5px 5px;
	text-align: center;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	margin-left: 0px;
	margin-top: 150px;
}


.description {
	// background: white;
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	vertical-align: center;
	font-family: $header-font;
	font-weight: 700;
	width: 100%;
	margin:0 auto;
	margin-top: 10%;
	margin-bottom: 20%;

	padding:10px;
	font-size: 1.5rem;
}



@media screen and (min-width: $medium) {
	.description {
	margin-top: 30%;
font-size: 1rem;}}

@media screen and (min-width: 870px) {
	.description {
	
font-size: 1.5rem;}}

.pastdescription {
	// background: white;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	vertical-align: center;
	font-family: $header-font;
	font-weight: 700;
	width: 100%;
	line-height: 1.2;
	// margin-top:100px;
	font-size: 1.5rem;
	a {
		line-height: 1.2;
	}
}

.leaderdescription {
	// background: white;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	vertical-align: center;
	font-family: $header-font;
	font-weight: 700;
	width: 100%;
	margin-top: 30%;
	margin-bottom: 40%;
	line-height: 1.2;
	padding:5px;
	font-size: 1.5rem;
}

.program1, .program2, .program3, .program4 {
	padding-top: 2rem;
	height:300px;
	&:hover {
		border:10px $primary-color solid;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
	&:hover {
		
		.description {
		color:black;

		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;

	}
	}

}

.location1, .location2, .location3, .location4, .location5, .location6, .location7, .location8 {
	padding-top: 2rem;
	height:300px;
	&:hover {
		border:10px $secondary-color solid;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}

	&:hover {
		
		a {
		color:black;

		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;

	}
	}

}


.program1a, .program2a, .program3a, .program4a {
	padding-top: 2rem;
	height:300px;
}


.program1 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/program1.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/program1.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.program2 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/program2.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/program2.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.program3 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/program3.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/program3.jpg") no-repeat center center;
		background-size:cover;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.program1a {
	background: url("../image/program1.jpg") no-repeat center center;
	background-size:cover;
}

.program2a {
	background: url("../image/program2.jpg") no-repeat center center,linear-gradient($secondary-color3, $secondary-color3);
	background-size:250px;
	
}

.program3a {
	background: url("../image/program3.jpg") no-repeat center center;
	background-size:cover;
}

.location1 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/austin.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/austin.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.location2 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/houston.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/houston.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.location3 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/portland.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/portland.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.location4 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/seattle.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/seattle.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.location5 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/paris.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/paris.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}
.location6 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/tokyo.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/tokyo.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}
.location7 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/mumbai.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/mumbai.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.location8 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/shanghai.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: linear-gradient($primary-color2, $primary-color2), url("../image/shanghai.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}
.pg1, .pg2, .pg3, .pg4, .pg5, .pg6 {
	height:300px;}

.pg1 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg1.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg1.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.pg2 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg2.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg2.jpg") no-repeat center center;
		background-size:cover;
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.pg3 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg3.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg3.jpg") no-repeat center center;
		background-size:cover;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.pg4 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg4.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg4.jpg") no-repeat center center;
		background-size:cover;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.pg5 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg5.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg5.jpg") no-repeat center center;
		background-size:cover;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}

.pg6 {
	background: linear-gradient($secondary-color3, $secondary-color3), url("../image/pg6.jpg") no-repeat center center;
	background-size:cover;
	&:hover {
		background: url("../image/pg6.jpg") no-repeat center center;
		background-size:cover;
		
		-webkit-transition: all .5s ease; 
	-moz-transition: all .5s ease; 
	-o-transition: all .5s ease; 
	transition: all .5s ease;
	}
}
 .partner {
 	height: 200px;
 	// width:200px;
 	// margin: 10px auto;

 	@include border-top-radius(5px);
	@include border-right-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
 }

// @media screen and (min-width: $medium) {

//  .partner {
//  	height: 200px;
//  	// width:200px;
//  	margin: 10px auto;

//  	@include border-top-radius(5px);
// 	@include border-right-radius(5px);
// 	@include border-bottom-radius(5px);
// 	@include border-left-radius(5px);
//  }
// }


.partner1 {
	background: url("../image/partner1.png") no-repeat center center;
	background-size:200px;
}

@media screen and (min-width: $medium) {
	.partner1 {
	background: url("../image/partner1.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner1 {
	background: url("../image/partner1.png") no-repeat center center;
	background-size:100px;
}
}

.partner2 {
	background: url("../image/partner2.png") no-repeat center center;
	background-size:200px;
}
@media screen and (min-width: $medium) {
	.partner2 {
	background: url("../image/partner2.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner2 {
	background: url("../image/partner2.png") no-repeat center center;
	background-size:100px;
}
}
.partner3 {
	background: url("../image/partner3.png") no-repeat center center;
	background-size:200px;
}
@media screen and (min-width: $medium) {
	.partner3 {
	background: url("../image/partner3.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner3 {
	background: url("../image/partner3.png") no-repeat center center;
	background-size:100px;
}
}
.partner4 {
	background: url("../image/partner4.png") no-repeat center center;
	background-size:200px;
}
@media screen and (min-width: $medium) {
	.partner4 {
	background: url("../image/partner4.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner4 {
	background: url("../image/partner4.png") no-repeat center center;
	background-size:100px;
}
}
.partner5 {
	background: url("../image/partner5.png") no-repeat center center;
	background-size:200px;
}
@media screen and (min-width: $medium) {
	.partner5 {
	background: url("../image/partner5.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner5 {
	background: url("../image/partner5.png") no-repeat center center;
	background-size:100px;
}
}
.partner6 {
	background: url("../image/partner6.png") no-repeat center center;
	background-size:200px;
}
@media screen and (min-width: $medium) {
	.partner6 {
	background: url("../image/partner6.png") no-repeat center center;
	background-size:80px;
}
}

@media screen and (min-width:840px ) {
	.partner6 {
	background: url("../image/partner6.png") no-repeat center center;
	background-size:100px;
}
}


footer {
	clear:both;
	background: $secondary-color2;
	overflow: hidden;
	// height: 400px;
	// height: 200px;
	h3 {
		padding-bottom:1rem;
	}

	nav {
		font-family: $header-font;
		text-transform: uppercase;
		// font-weight: 700;
		font-size: 1.2rem;
		li { 
			float: left;
			padding: 5px;
		}
	}

	p {
		width: 100%;
		// text-align: center;
		clear: both;
		// margin-top: 2.5rem;
	}
}

#email {
	width: 100%;
	height: 40px;
}


#signup {
	width: 100%;
	height: 40px;
}


#zip {
	width: 100%;
	height: 40px;
}

#name {
	width: 100%;
	height: 40px;
}


.blockInput, .salsa_organization  {
	width: 100%;
	height: 40px;
}


.past1, .past2, .past3, .past4, .past5 {
	// padding-top: 2rem;
	// width:150px;
	height:150px;
	margin: 0 auto;
	// @include border-top-radius(50%);
	// @include border-right-radius(50%);
	// @include border-bottom-radius(50%);
	// @include border-left-radius(50%);
	&:hover {
		
		.pastdescription {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

	.leaderdescription  {
	// -webkit-transform: rotate(360deg);
 //    -moz-transform: rotate(360deg);
 //    -o-transform: rotate(360deg);
 //    -ms-transform: rotate(360deg);
 //    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

	}

}


.past1 {
	background: url("../image/icon1.svg") no-repeat center center;
	background-size:100px;
}

.past2 {
	background: url("../image/icon2.svg") no-repeat center center;
	background-size:100px;
}

.past3 {
	background: url("../image/icon3.svg") no-repeat center center;
	background-size:100px;
}

.past4 {
	background: url("../image/icon4.svg") no-repeat center center;
	background-size:100px;
}

.past5 {
	background: url("../image/icon5.svg") no-repeat center center;
	background-size:100px;
}

.event1, .event2, .event3, .event4 {
	padding-top: 2rem;
	// width:250px;
	// height:250px;
	&:hover {
		
		.pastdescription {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}
	}

}
.event1 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program1.jpg") no-repeat center center;
	background-size:cover;
}

.event2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program2.jpg") no-repeat center center;
	background-size:cover;
}

.event3 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.jpg") no-repeat center center;
	background-size:cover;
}

.event4 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.jpg") no-repeat center center;
	background-size:cover;
}


.location1, .location2, .location3, .location4 {
	padding-top: 2rem;
	// width:250px;
	height:250px;
	// &:hover {
		
	// 	.pastdescription {
	// -webkit-transform: rotate(360deg);
 //    -moz-transform: rotate(360deg);
 //    -o-transform: rotate(360deg);
 //    -ms-transform: rotate(360deg);
 //    transform: rotate(360deg);
	// -webkit-transition: all 0.5s ease; 
	// -moz-transition: all 0.5s ease; 
	// -o-transition: all 0.5s ease; 
	// transition: all 0.5s ease;
	// }

}


@import "animation";
@import "form";
@import "test";


.logo {
	width: 50px;
	height: 70px;
	float: left;
	// margin-left: 30%;
	background: url("../image/logo.png") no-repeat center left, white;
	background-size: 220px;
}

@media screen and (min-width: 523px) {
	.logo {
	
	width:220px;
	
	background: url("../image/logo.png") no-repeat center center, white;
	background-size: 220px;
}
}

#days, #hours, #minutes, #seconds {
  font-size: 2rem;
	float: left;}



#timer {
	width: 205px;
	height: 70px;
	background: $primary-color;
	margin: 0 auto;
	display: inline-block;
  	line-height: 1;
 	padding: 6px 5px;
  	font-family: $header-font;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	text-align: center;
	overflow: hidden;
	float: right;
	span {
		display: block;
		// font-weight: 700;
		font-size: 1rem;
		padding: 3px;
	}
}

.textlink a {
	padding-top: 5px;
	font-size: 1.3rem;
}


// * {
// 	border: 1px solid red;
// }

.note p {
	line-height: 1.5;
	vertical-align: center;
	a {
		color: black;
		font-style: oblique;
	}
}

video {
            max-width: 100%;
            height: auto;
          }

          iframe,
          embed,
          object {
            max-width: 100%;
          }

          .container {
            width: 70%;
            padding: 5%;
            margin:0 auto;
            // background:#fff;
            // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          }

          .vendor {
            padding: 2%;
            background: $primary-color;
            // margin-bottom: 2em;
          }
