@import "../bourbon/bourbon";
@import "reset";
@import "responsive-nav";

$primary-color: #dbf235;
$secondary-color: #51dad0;
$secondary-color2: rgba(81, 218, 208, .5);
$link-color: #51dad0;
$date-color:#ed6976;

$header-color: #51dad0;

$global:500px;
$medium:830px;


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: "proxima-nova-soft",sans-serif;
	line-height: 1.5;
	background: $primary-color url(blossoms.jpg) no-repeat bottom right; 
	font-size: 1rem;
	}

.border {
	border: 10px $primary-color solid;
}

.wrapper { 
	width:80%;
}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6 {
	font-family: "proxima-nova-alt-condensed";
	font-family: "proxima-nova-alt-condensed",sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	
	a {
		text-decoration: none;
		color: black;
	}

}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 2rem;

}

.click h5 {
	float:right;
	background: white;
	padding:10px;
	// & :first-child {
	// background: black;
	// color:white;
	//  }
}


// .click h5:first-child {
// 	background: black;
// 	color:white;
// }

.main {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/gulls.JPG") no-repeat center center;
	background-size:cover;

}

// * {
// 	border: 1px solid red;
// }
