@import "reset";
@import "responsive-nav";
@import "../bourbon/bourbon";


// color

$primary-color: #dbf235;
$primary-color2: rgba(232, 244, 9, .4);
$secondary-color: #51dad0;
$secondary-color2: rgba(81, 218, 208, .5);
$link-color: #51dad0;
$date-color:#fd4857;
$description-color: rgba(255, 255, 255, .5);

$header-color: #51dad0;

$body-font: "proxima-nova-soft";
$header-font: "proxima-nova-extra-condensed";
$header-font2: "proxima-nova-alt-condensed";
// media query

$global:400px;
$medium:800px;
$large:960px;



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	font-family: "proxima-nova-soft",sans-serif;
	line-height: 1.5;
	background: $primary-color url(blossoms.jpg) no-repeat bottom right; 
	font-size: 1rem;
	}


// grids
$col: 6%;
$gut: 2.54%;

@mixin grid($cnum) {
  width: ($col*$cnum)+($gut*(($cnum)-1));
  // background: #ff5555;
  height: 100px;
  float: left;
  margin-right: $gut;
  margin-bottom: 3rem;
  text-align: center;
  // padding: 40px;
  box-sizing:border-box;
  // color: #eeeeee;
}


.col1, .col2, .col3, .col4, .col5, .col6, .col6e { 
    width:100%;
    height: 100px;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
    border: 10px white solid;
}

.col6f {
	width:100%;
    background: transparent;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
 
}


@media screen and (min-width: 500px) {

.col2 {
  @include grid(2);
}
.col3 {
  @include grid(3);
}

.col4 {
  @include grid(4);
}

.col6 {
  @include grid(6);
}


.col6e {
  @include grid(6);
}

.col6f  {
  @include grid(6);
}

div:last-of-type {
  margin-right: 0;
}

}

// end grids




.wrapper { 
	width:80%;
	margin:0 10%;
}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font,sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.15em;
	a {
		text-decoration: none;
		color: black;
	}

}

h1 {
	text-align: center;
	// font-style: italic;
	font-size: 3rem;
	padding: 8rem 0;
	// clear:both;
}

h2 {
	font-size: 2rem;
	padding-top:1rem;
	clear: both;
}



h3 {
	text-transform: uppercase;
}



.nav-toggle {
	float:left;
	background: white;
	font-family: $header-font;
	
	color: black;
	padding:15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	line-height: 46px;
	// font-size: 1.2rem;
	&:hover {
		background: $primary-color;
		-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease; 
	}
	
}

.nav-collapse {
	li {
		padding: 25.8px 0;
		width: 100%;
		text-align: center;
		a {
		color: black;
		font-weight: 700;
		font-family: $header-font;
		text-align: center;
		text-transform: uppercase;
	letter-spacing: 0.15em;

	}
	}
	
}

@media screen and (min-width: 625px) {
.nav-collapse {
	li {
		width:150px;
		display: inline-block;
	// 	a {
	// 	color: black;
	// 	font-weight: 700;
	// 	font-family: $header-font;
	// 	text-align: center;
	// 		text-transform: uppercase;
	// letter-spacing: 0.15em;

	// }
	}
	
}
}


.click li {

	float:right;
	background: white;
	padding:15px;
	font-weight: 700;
	// font-size: 1.2rem;
	a {
		color: black;
	}
	&:nth-of-type(1) {
	background: black;
	a {
		color:white;
	}
	 }
}

.involved li {
	float:right;
	background: white;
	padding:15px;
	font-weight: 700;
	// font-size: 1.2rem;
	a {
		color: black;
	}
}

.main {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/gulls.JPG") no-repeat center center;
	background-size:cover;
	// background-attachment: fixed;
}


.anniversary {
	margin-top: 8rem;
	width:150px;
	height: 150px;
	background: $secondary-color;
	text-align: center;
	font-family: $header-font;
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1;
	padding-top: 10px;
	letter-spacing: 0.15em;
	float: left;
	padding: 1.5rem;
	// font-weight: 700;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	span {
		font-size:3.5rem;
	
	}
}

.issue {
	background: linear-gradient($primary-color2, $primary-color2);
	padding-bottom: 2rem;
	p {
		// font-size: 1.2rem;
		font-weight: 700;
		font-size: 1.2;
		letter-spacing: 0.05em;
	}
}

.border {
	border: 10px $primary-color solid;
}



// .button {
// 	background: white;
// 	padding:15px;
// 	font-weight: 700;
// 	float: right;
// 	text-align: center;

// }

.top {
	background: $primary-color;
	padding:15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right:10px;
}

.program {
	background: $secondary-color2;
	overflow: hidden;
	clear: both;
}

.date {
	background: $date-color;
	color: white;
	width:70px;
	height: 70px;
	font-size:1.2rem;
	font-family: $header-font;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	text-align: center;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	margin-right: -50px;
	margin-top: -50px;
}



.description, .pastdescription {
	// background: white;
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	vertical-align: center;
	font-family: $header-font;
	font-weight: 700;
	width: 100%;
	margin-top: 40%;
	padding:10px;
	font-size: 3rem;

}


.program1, .program2, .program3, .program4 {
	padding-top: 2rem;
	height:300px;
	&:hover {
		border:10px $primary-color solid;
		-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease;
	}
	&:hover {
		
		.description {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}
	}

}


.program1 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program1.JPG") no-repeat center center;
	background-size:cover;
}

.program2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program2.JPG") no-repeat center center;
	background-size:cover;
}

.program3 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.JPG") no-repeat center center;
	background-size:cover;
}

 .partner {
 	width: 100px;
 	height: 100px;
 	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
 }

.partner1 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner1.JPG") no-repeat center center;
	background-size:cover;
}

.partner2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner2.JPG") no-repeat center center;
	background-size:cover;
}

.partner3 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner3.png") no-repeat center center;
	background-size:cover;
}

.partner4 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner4.png") no-repeat center center;
	background-size:cover;
}

.partner5 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner5.png") no-repeat center center;
	background-size:cover;
}

.partner6 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/partner6.JPG") no-repeat center center;
	background-size:cover;
}



footer {
	clear:both;
	background: $secondary-color2;
	overflow: hidden;
	height: 200px;
	// height: 200px;

	nav {
		font-family: $header-font;
		text-transform: uppercase;
		// font-weight: 700;
		font-size: 1.2rem;
		li { 
			float: left;
			padding: 5px;
		}
	}

	p {
		width: 100%;
		text-align: center;
		clear: both;
	}
}

#signup {
	width: 100%;
	height: 40px;
}

#zip {
	width: 100%;
	height: 40px;
}
.past1, .past2, .past3, .past4 {
	padding-top: 2rem;
	width:250px;
	height:250px;
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	&:hover {
		
		.pastdescription {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}
	}

}


.past1 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program1.JPG") no-repeat center center;
	background-size:cover;
}

.past2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program2.JPG") no-repeat center center;
	background-size:cover;
}

.past3 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.JPG") no-repeat center center;
	background-size:cover;
}

.past4 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.JPG") no-repeat center center;
	background-size:cover;
}


.event1, .event2, .event3, .event4 {
	padding-top: 2rem;
	width:250px;
	height:250px;
	&:hover {
		
		.pastdescription {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}
	}

}
.event1 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program1.JPG") no-repeat center center;
	background-size:cover;
}

.event2 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program2.JPG") no-repeat center center;
	background-size:cover;
}

.event3 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.JPG") no-repeat center center;
	background-size:cover;
}

.event4 {
	background: linear-gradient($secondary-color2, $secondary-color2), url("../image/program3.JPG") no-repeat center center;
	background-size:cover;
}

@import "animation";

// * {
// 	border: 1px solid red;
// }

