/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.38 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/*@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "proxima-nova-soft",sans-serif;
  line-height: 1.6;
  background: #dbf235 url(blossoms.jpg) no-repeat bottom right; }

.col1, .col2, .col3, .col4, .col5, .col6 {
  width: 100%;
  height: 50px;
  background: transparent;
  margin-bottom: 5px;
  text-align: center;
  padding: 20px;
  border: 10px white solid;
  margin-bottom: 3rem; }
  .col1:last-of-type, .col2:last-of-type, .col3:last-of-type, .col4:last-of-type, .col5:last-of-type, .col6:last-of-type {
    margin-right: 0; }

.col3a {
  width: 100%;
  height: 100px;
  background: transparent;
  margin-bottom: 5px;
  text-align: center;
  padding: 20px;
  margin-bottom: 3rem; }
  .col3a:last-of-type {
    margin-right: 0; }

.col2a {
  width: 100%;
  height: 100px;
  background: transparent;
  margin-bottom: 5px;
  text-align: center;
  padding: 20px;
  margin-bottom: 3rem; }
  .col2a:last-of-type {
    margin-right: 0; }

.col6p, .col4a, .col4ab, .col6a {
  width: 100%;
  background: transparent;
  margin-bottom: 5px;
  padding: 20px;
  margin-bottom: 3rem; }
  .col6p:last-of-type, .col4a:last-of-type, .col4ab:last-of-type, .col6a:last-of-type {
    margin-right: 0; }

.col6f {
  width: 100%;
  background: transparent;
  margin-bottom: 0;
  padding: 20px;
  margin-bottom: 3rem; }
  .col6f:last-of-type {
    margin-right: 0; }

.col4f, .col8f {
  width: 100%;
  background: transparent;
  margin-bottom: 0;
  height: 40px;
  margin-bottom: 1.5rem; }
  .col4f:last-of-type, .col8f:last-of-type {
    margin-right: 0; }

.col6e {
  width: 100%;
  height: 100px;
  background: transparent;
  margin-bottom: 5px;
  margin-bottom: 3rem;
  text-align: center;
  padding: 20px; }
  .col6e:last-of-type {
    margin-right: 0; }

.col6ab {
  width: 100%;
  background: transparent;
  margin-bottom: 5px;
  margin-bottom: 3rem; }
  .col6ab:last-of-type {
    margin-right: 0; }

.col8a {
  width: 100%;
  background: transparent;
  margin-bottom: 5px;
  margin-bottom: 3rem; }
  .col8a:last-of-type {
    margin-right: 0; }

.col2p {
  width: 100%;
  height: 200px;
  background: transparent;
  margin-bottom: 5px;
  margin-bottom: 3rem;
  text-align: center;
  padding: 20px; }
  .col2p:last-of-type {
    margin-right: 0; }

@media screen and (min-width: 712px) {
  .col2 {
    width: 14.16%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col2a {
    width: 14.16%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col4f {
    width: 31.32%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box;
    height: 40px; }

  .col2p {
    width: 14.16%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col3 {
    width: 22.74%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col3a {
    width: 22.74%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col4 {
    width: 31.32%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col4a {
    width: 31.32%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col4ab {
    width: 31.32%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col8a {
    width: 65.64%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col6 {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col6e {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col6f {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box;
    margin-bottom: 0; }

  .col6p {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col6a {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col6ab {
    width: 48.48%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box; }

  .col8f {
    width: 65.64%;
    float: left;
    margin-right: 3%;
    box-sizing: border-box;
    height: 40px; } }
.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  clear: both;
  overflow: hidden; }
  .wrapper p {
    font-size: 1.1rem; }

@media screen and (min-width: 502px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0; } }
@media screen and (min-width: 712px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    padding: 4rem 0; } }
.wrapper1 {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding: 6rem 0; }
  .wrapper1 h3 {
    text-align: center;
    font-size: 1.25rem; }

@media screen and (min-width: 502px) {
  .wrapper1 {
    width: 90%;
    max-width: 960px;
    padding: 7rem 0; }
    .wrapper1 h3 {
      text-align: center;
      font-size: 1.50rem; } }
@media screen and (min-width: 712px) {
  .wrapper1 {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    padding: 8rem 0; }
    .wrapper1 h3 {
      text-align: center;
      font-size: 1.75rem; } }
.wrapper2 {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding: 3rem 0; }

@media screen and (min-width: 712px) {
  .wrapper2 {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0; } }
.wrapper_p {
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
  padding: 4rem 0 8rem 0;
  overflow: hidden; }
  .wrapper_p p {
    font-size: 1.1rem; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  line-height: 1.2; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: black; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 4rem 0 2rem 0;
  letter-spacing: 0.1em; }
  h1 span {
    color: white; }

@media screen and (min-width: 502px) {
  h1 {
    font-size: 3rem;
    padding: 8rem 0 4rem 0; } }
@media screen and (min-width: 712px) {
  h1 {
    font-size: 4rem;
    padding: 8rem 0 4rem 0; } }
h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  clear: both;
  letter-spacing: 0.1em; }

@media screen and (min-width: 502px) {
  h2 {
    font-size: 2rem; } }
@media screen and (min-width: 712px) {
  h2 {
    font-size: 2.5rem; } }
h3 {
  font-size: 1.5rem; }

@media screen and (min-width: 502px) {
  h3 {
    font-size: 1.75rem; } }
@media screen and (min-width: 712px) {
  h3 {
    font-size: 2rem; } }
h3 {
  letter-spacing: 0.07em; }

h4 {
  letter-spacing: 0.07em; }

.nav-toggle {
  float: left;
  background: white;
  font-family: "proxima-nova-extra-condensed";
  text-transform: uppercase;
  letter-spacing: 0.10em;
  color: black;
  padding: 12px;
  font-weight: 700;
  line-height: 46px; }
  .nav-toggle:hover {
    background: #dbf235;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

.nav-collapse li {
  padding: 25.8px 0;
  width: 100%;
  text-align: center; }
  .nav-collapse li a {
    color: black;
    font-weight: 700;
    font-family: "proxima-nova-extra-condensed";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 1.1rem; }

@media screen and (min-width: 625px) {
  .nav-collapse li {
    width: 18%;
    display: inline-block; } }
.click li {
  float: right;
  background: white;
  padding: 15px;
  font-weight: 700; }
  .click li a {
    color: black; }
  .click li:nth-of-type(1) {
    background: black; }
    .click li:nth-of-type(1) a {
      color: white; }

.involved li {
  float: right;
  background: white;
  padding: 15px;
  font-weight: 700; }
  .involved li a {
    color: black; }

.main {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/gulls1.jpg") no-repeat center center;
  background-size: cover; }

.main_event {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/start2.jpg") no-repeat center center;
  background-size: cover; }

.hmm {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/find.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom: 4rem; }

.main2 {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/biking.jpg") no-repeat center center;
  background-size: cover; }

.main_program {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/mainprogram.jpg") no-repeat center center;
  background-size: cover; }

.main_organize {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/organize.jpg") no-repeat center center;
  background-size: cover; }

.main_about {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/earthypic.jpg") no-repeat center center;
  background-size: cover;
  font-weight: 700; }
  .main_about p {
    font-size: 1.1rem;
    padding-bottom: 2rem; }
  .main_about span {
    font-size: 1.4rem;
    font-style: oblique; }

.anniversary {
  width: 120px;
  height: 120px;
  background: #51dad0;
  text-align: center;
  font-family: "proxima-nova-extra-condensed";
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  padding-top: 10px;
  letter-spacing: 0.10em;
  margin: 0 auto;
  clear: both;
  padding: 1.5rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%; }

@media screen and (min-width: 502px) {
  .anniversary {
    margin-top: -400px;
    width: 150px;
    height: 150px;
    background: #51dad0;
    text-align: center;
    font-family: "proxima-nova-extra-condensed";
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    padding-top: 10px;
    letter-spacing: 0.10em;
    float: left;
    clear: both;
    padding: 1.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; } }
@media screen and (min-width: 567px) {
  .anniversary {
    margin-top: -325px; } }
@media screen and (min-width: 712px) {
  .anniversary {
    margin-top: -500px; } }
@media screen and (min-width: 812px) {
  .anniversary {
    margin-top: -370px; } }
.anniversary1 {
  font-size: 2.5rem;
  font-weight: 500; }

@media screen and (min-width: 502px) {
  .anniversary1 {
    font-size: 3.5rem;
    font-weight: 500; } }
.anniversary2 {
  font-weight: 700; }

.issue {
  background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)); }
  .issue p {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.05em; }

.main_program1 {
  background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7));
  padding-bottom: 2rem;
  overflow: hidden; }
  .main_program1 p {
    font-size: 1.1rem;
    letter-spacing: 0.05em; }

.what {
  background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7));
  overflow: hidden; }
  .what p {
    letter-spacing: 0.05em;
    font-weight: 500; }
  .what .col4a {
    min-height: 400px;
    background: url("../image/what.jpg") no-repeat center center;
    background-size: cover; }

.col4ab {
  min-height: 400px;
  background: url("../image/why.jpg") no-repeat center center;
  background-size: cover; }

.col6a {
  min-height: 400px;
  background: url("../image/smile.jpg") no-repeat center center;
  background-size: cover; }

.border {
  border: 10px #dbf235 solid; }

.top {
  background: #dbf235;
  padding: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px; }

.program {
  background: rgba(81, 218, 208, 0.8);
  overflow: hidden;
  clear: both;
  padding-bottom: 4rem; }

.photogallery {
  background: rgba(81, 218, 208, 0.8);
  overflow: hidden;
  clear: both; }

.date {
  background: #fd4857;
  color: white;
  width: 70px;
  height: 70px;
  font-size: 1.2rem;
  font-family: "proxima-nova-extra-condensed";
  float: right;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  text-align: center;
  line-height: 1.2;
  padding-top: 15px;
  padding-left: 3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-right: -55px;
  margin-top: -70px; }

.date2 {
  background: #dbf235;
  color: #222;
  width: 70px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "proxima-nova-extra-condensed";
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  padding: 20px 5px 5px 5px;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-left: 0px;
  margin-top: 150px; }

.date3 {
  background: #51dad0;
  color: #222;
  width: 70px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "proxima-nova-extra-condensed";
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  padding: 20px 5px 5px 5px;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-left: 0px;
  margin-top: 150px; }

.description {
  color: #dbf235;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  vertical-align: center;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  width: 100%;
  margin-top: 30%;
  margin-bottom: 40%;
  padding: 10px;
  font-size: 1.5rem; }

.pastdescription {
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  vertical-align: center;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  width: 100%;
  line-height: 1.2;
  font-size: 1.5rem; }
  .pastdescription a {
    line-height: 1.2; }

.leaderdescription {
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  vertical-align: center;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  width: 100%;
  margin-top: 30%;
  margin-bottom: 40%;
  line-height: 1.2;
  padding: 10px;
  font-size: 1.5rem; }

.program1, .program2, .program3, .program4 {
  padding-top: 2rem;
  height: 300px; }
  .program1:hover, .program2:hover, .program3:hover, .program4:hover {
    border: 10px #dbf235 solid;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .program1:hover .description, .program2:hover .description, .program3:hover .description, .program4:hover .description {
    color: black;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location1, .location2, .location3, .location4, .location5, .location6, .location7, .location8 {
  padding-top: 2rem;
  height: 300px; }
  .location1:hover, .location2:hover, .location3:hover, .location4:hover, .location5:hover, .location6:hover, .location7:hover, .location8:hover {
    border: 10px #51dad0 solid;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .location1:hover .description, .location2:hover .description, .location3:hover .description, .location4:hover .description, .location5:hover .description, .location6:hover .description, .location7:hover .description, .location8:hover .description {
    color: black;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.program1a, .program2a, .program3a, .program4a {
  padding-top: 2rem;
  height: 300px; }

.program1 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program1.jpg") no-repeat center center;
  background-size: cover; }
  .program1:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/program1.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.program2 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program2.jpg") no-repeat center center;
  background-size: cover; }
  .program2:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/program2.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.program3 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program3.jpg") no-repeat center center;
  background-size: cover; }
  .program3:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/program3.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.program1a {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program1.jpg") no-repeat center center;
  background-size: cover; }

.program2a {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program2.jpg") no-repeat center center;
  background-size: cover; }

.program3a {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/program3.jpg") no-repeat center center;
  background-size: cover; }

.location1 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/austin.jpg") no-repeat center center;
  background-size: cover; }
  .location1:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/austin.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location2 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/houston.jpg") no-repeat center center;
  background-size: cover; }
  .location2:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/houston.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location3 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/portland.jpg") no-repeat center center;
  background-size: cover; }
  .location3:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/portland.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location4 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/seattle.jpg") no-repeat center center;
  background-size: cover; }
  .location4:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/seattle.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location5 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/paris.jpg") no-repeat center center;
  background-size: cover; }
  .location5:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/paris.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location6 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/tokyo.jpg") no-repeat center center;
  background-size: cover; }
  .location6:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/tokyo.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location7 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/mumbai.jpg") no-repeat center center;
  background-size: cover; }
  .location7:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/mumbai.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.location8 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/shanghai.jpg") no-repeat center center;
  background-size: cover; }
  .location8:hover {
    background: linear-gradient(rgba(232, 244, 9, 0.7), rgba(232, 244, 9, 0.7)), url("../image/shanghai.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg1, .pg2, .pg3, .pg4, .pg5, .pg6 {
  height: 300px; }

.pg1 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg1.jpg") no-repeat center center;
  background-size: cover; }
  .pg1:hover {
    background: url("../image/pg1.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg2 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg2.jpg") no-repeat center center;
  background-size: cover; }
  .pg2:hover {
    background: url("../image/pg2.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg3 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg3.jpg") no-repeat center center;
  background-size: cover; }
  .pg3:hover {
    background: url("../image/pg3.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg4 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg4.jpg") no-repeat center center;
  background-size: cover; }
  .pg4:hover {
    background: url("../image/pg4.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg5 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg5.jpg") no-repeat center center;
  background-size: cover; }
  .pg5:hover {
    background: url("../image/pg5.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.pg6 {
  background: linear-gradient(rgba(81, 218, 208, 0.5), rgba(81, 218, 208, 0.5)), url("../image/pg6.jpg") no-repeat center center;
  background-size: cover; }
  .pg6:hover {
    background: url("../image/pg6.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.partner {
  height: 150px;
  margin: 10px auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.partner1 {
  background: url("../image/partner1.jpg") no-repeat center center;
  background-size: 200px; }

.partner2 {
  background: url("../image/partner2.jpg") no-repeat center center;
  background-size: 200px; }

.partner3 {
  background: url("../image/partner3.jpg") no-repeat center center;
  background-size: 200px; }

.partner4 {
  background: url("../image/partner4.jpg") no-repeat center center;
  background-size: 200px; }

.partner5 {
  background: url("../image/partner5.jpg") no-repeat center center;
  background-size: 200px; }

.partner6 {
  background: url("../image/partner6.jpg") no-repeat center center;
  background-size: 200px; }

footer {
  clear: both;
  background: rgba(81, 218, 208, 0.8);
  overflow: hidden; }
  footer h3 {
    padding-bottom: 1rem; }
  footer nav {
    font-family: "proxima-nova-extra-condensed";
    text-transform: uppercase;
    font-size: 1.2rem; }
    footer nav li {
      float: left;
      padding: 5px; }
  footer p {
    width: 100%;
    clear: both;
    margin-top: 2.5rem; }

#email {
  width: 100%;
  height: 40px; }

#signup {
  width: 100%;
  height: 40px; }

#zip {
  width: 100%;
  height: 40px; }

#name {
  width: 100%;
  height: 40px; }

.blockInput, .salsa_organization {
  width: 100%;
  height: 40px; }

.past1, .past2, .past3, .past4, .past5 {
  padding-top: 2rem;
  width: 150px;
  height: 150px; }
  .past1:hover .pastdescription, .past2:hover .pastdescription, .past3:hover .pastdescription, .past4:hover .pastdescription, .past5:hover .pastdescription {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .past1:hover .leaderdescription, .past2:hover .leaderdescription, .past3:hover .leaderdescription, .past4:hover .leaderdescription, .past5:hover .leaderdescription {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.past1 {
  background: url("../image/icon1.svg") no-repeat center center;
  background-size: cover; }

.past2 {
  background: url("../image/icon2.svg") no-repeat center center;
  background-size: cover; }

.past3 {
  background: url("../image/icon3.svg") no-repeat center center;
  background-size: cover; }

.past4 {
  background: url("../image/icon4.svg") no-repeat center center;
  background-size: cover; }

.past5 {
  background: url("../image/icon5.svg") no-repeat center center;
  background-size: cover; }

.event1, .event2, .event3, .event4 {
  padding-top: 2rem; }
  .event1:hover .pastdescription, .event2:hover .pastdescription, .event3:hover .pastdescription, .event4:hover .pastdescription {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.event1 {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/program1.jpg") no-repeat center center;
  background-size: cover; }

.event2 {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/program2.jpg") no-repeat center center;
  background-size: cover; }

.event3 {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/program3.jpg") no-repeat center center;
  background-size: cover; }

.event4 {
  background: linear-gradient(rgba(81, 218, 208, 0.8), rgba(81, 218, 208, 0.8)), url("../image/program3.jpg") no-repeat center center;
  background-size: cover; }

.location1, .location2, .location3, .location4 {
  padding-top: 2rem;
  height: 250px; }

/* ====================================   
   .link
   ==================================== */
.link_lg a.btn:hover span,
.link_lg a.btn:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

.link_lg a.btn:hover {
  background: #51dad0; }

.link_lg {
  clear: both;
  text-align: center;
  margin: 20px 0 0; }

.link_lg a.btn {
  color: #222;
  font-size: 1.25rem;
  background: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  letter-spacing: 0.10em;
  line-height: 55px;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  outline: none; }

.link_lg a.btn span {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none; }

.link_lg a.btn span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.link_lg a.btn:hover span,
.link_lg a.btn:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

.link_lg a.btn:hover {
  background: #51dad0; }

.link a.btn:hover span,
.link a.btn:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

.link a.btn:hover {
  background: #51dad0; }

.link {
  clear: both;
  text-align: center;
  margin: 20px 0 0; }

.link a.btn {
  color: #222;
  background: white;
  text-decoration: none;
  padding: 0px 40px 0px 40px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  letter-spacing: 0.10em;
  line-height: 55px;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  outline: none; }

.link a.btn span {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none; }

.link a.btn span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.link a.btn:hover span,
.link a.btn:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

.link a.btn:hover {
  background: #51dad0; }

/* ==========================================================================   
   #scrollUp
   ========================================================================== */
#top {
  color: black;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  background: #dbf235;
  text-align: center;
  z-index: 101;
  overflow: hidden;
  text-indent: -999px; }
  #top a {
    font-family: "proxima-nova-extra-condensed"; }

#top:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  font-family: "proxima-nova-extra-condensed";
  content: "top";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  line-height: 80px;
  text-indent: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#top:hover {
  background: white; }

#top:hover:before {
  -webkit-transform: translate(0px, -5px);
  -moz-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px); }

/* ==============================   
   .navArea
   ============================== */
/*#header .navArea ul li { display: inline-block; *display: inline;*zoom: 1;}
#header .navArea ul li a { display: block; padding: 0 15px; color: #222; font-size: 14px; font-family: "futura-pt", sans-serif; font-weight: 700; line-height: 40px; letter-spacing: 0.1em; text-decoration: none; text-transform: uppercase; position:relative; }

#header .navArea ul li a:before { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; border-left: #71cdd8 2px solid; border-right: $primary-color 2px solid; content: ""; z-index: 2; webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); -o-transform: scale(1, 0); -ms-transform: scale(1, 0); transform: scale(1, 0); }
#header .navArea ul li a:after { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; border: #e8f409 2px solid; border-left: none; border-right: none; content: ""; z-index: 2; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-transform: scale(0, 1); -moz-transform: scale(0, 1); -o-transform: scale(0, 1); -ms-transform: scale(0, 1); transform: scale(0, 1); }
#header .navArea ul li a:hover:before,
#header .navArea ul li a:hover:after { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }*/
.navArea ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.navArea ul li a {
  display: block;
  color: #222;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.navArea ul li a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: white 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.navArea ul li a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.navArea ul li a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: white 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.navArea ul li a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.navArea ul li a:hover {
  color: white;
  background: transparent; }

/* ==============================   
socialmedia
   ============================== */
.socialmedia {
  width: 100%;
  display: block;
  z-index: 2; }

.socialmedia ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 0; }

.socialmedia ul li {
  margin: 0 10px;
  display: inline-block; }

.socialmedia ul li a {
  width: 50px;
  height: 50px;
  display: block;
  color: #fefefe;
  line-height: 35px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.socialmedia ul li a.fb {
  background: url("../image/facebook.svg") center center no-repeat, #51dad0;
  background-size: 30px;
  font-size: 14px; }
  .socialmedia ul li a.fb:hover {
    background: url("../image/facebook.svg") center center no-repeat, #dbf235;
    background-size: 30px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.socialmedia ul li a.tw {
  background: url("../image/twitter.svg") center center no-repeat, #51dad0;
  background-size: 30px;
  font-size: 14px; }
  .socialmedia ul li a.tw:hover {
    background: url("../image/twitter.svg") center center no-repeat, #dbf235;
    background-size: 30px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.socialmedia ul li a.yt {
  background: url("../image/youtube.svg") center center no-repeat, #51dad0;
  background-size: 30px;
  font-size: 14px; }
  .socialmedia ul li a.yt:hover {
    background: url("../image/youtube.svg") center center no-repeat, #dbf235;
    background-size: 30px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

/* ----- .transition ----- */
.transition03 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sheading ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.sheading ul li a {
  display: block;
  color: #dbf235;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.sheading ul li a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.sheading ul li a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.sheading ul li a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.sheading ul li a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.sheading ul li a:hover {
  color: black;
  background: transparent; }

.program1:hover .sheading ul li a:before, .program2:hover .sheading ul li a:before, .program3:hover .sheading ul li a:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }
.program1:hover .sheading ul li a:after, .program2:hover .sheading ul li a:after, .program3:hover .sheading ul li a:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }
.program1:hover .sheading ul li a, .program2:hover .sheading ul li a, .program3:hover .sheading ul li a {
  color: black;
  background: transparent; }

.eventbtn ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.eventbtn ul li a {
  display: block;
  color: #222;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.eventbtn ul li a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: white 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.eventbtn ul li a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.eventbtn ul li a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: white 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.eventbtn ul li a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.eventbtn ul li a:hover {
  color: black;
  background: transparent; }

.get ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.get ul li a {
  display: block;
  color: black;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.get ul li a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.get ul li a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get ul li a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.get ul li a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get ul li a:hover {
  color: black;
  background: transparent; }

.get1 {
  display: inline-block;
  *display: inline;
  line-height: 1.2;
  *zoom: 1; }

.get1 a {
  line-height: 1.2;
  display: block;
  color: black;
  font-size: 1.1rem;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.get1 a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.get1 a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get1 a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.get1 a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get1 a:hover {
  color: black;
  background: transparent; }

.try {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.try a {
  display: block;
  color: black;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.try a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.try a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.try a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.try a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.try a:hover {
  color: black;
  background: transparent; }

.get ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.get ul li a {
  display: block;
  color: #222;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }

.get ul li a:before {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px); }

.get ul li a:hover:before {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get ul li a:after {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  display: block;
  border-bottom: black 2px solid;
  content: "";
  z-index: 2;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(100%, 0px);
  -moz-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px); }

.get ul li a:hover:after {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.get ul li a:hover {
  color: black;
  background: transparent; }

.organize input, .organize textarea, .organize select {
  background: #f5f5f5;
  font-size: 1rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 13px 10px;
  width: 330px;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  clear: both;
  font-size: 1rem; }

label {
  letter-spacing: 0.07em;
  line-height: 1.2;
  font-size: 1.25rem; }

.logo0 {
  width: 48px;
  height: 70px;
  float: left;
  background: url("../image/logo0.png") no-repeat center left, white;
  background-size: 200px; }

@media screen and (min-width: 502px) {
  .logo0 {
    width: 200px;
    background: url("../image/logo0.png") no-repeat center center, white;
    background-size: 200px; } }
#days, #hours, #minutes, #seconds {
  font-size: 2rem;
  float: left; }

#timer {
  width: 205px;
  height: 70px;
  background: #dbf235;
  margin: 0 auto;
  display: inline-block;
  line-height: 1;
  padding: 6px 5px;
  font-family: "proxima-nova-extra-condensed";
  text-transform: uppercase;
  letter-spacing: 0.10em;
  text-align: center;
  overflow: hidden;
  float: right; }
  #timer span {
    display: block;
    font-size: 1rem;
    padding: 3px; }

.textlink a {
  padding-top: 5px;
  font-style: oblique;
  font-size: 1.1rem; }

* {
  border: 1px solid red; }

.note p {
  line-height: 1.5;
  vertical-align: center; }
  .note p a {
    color: black;
    font-style: oblique; }

/*# sourceMappingURL=style.css.map */
